body{
    background-color: dimgrey;
}

header{
    color: cornsilk;
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-style: italic;
    

}

.home{
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero{
    background-color: chocolate;

}